


.content-area.session-archive
{
	background:none;

	.page-header {
		@extend .content-fade;
		@extend .sandwich-border;

		.page-title {
			@extend .font-aura;
			text-align: center;
		  padding: 1em;
		}

		margin-bottom:1em;
	}

	.archive
	{
		@extend .content-fade;

		padding:2em 3em;

		.session-links {
			display:grid;
			grid-template-columns: repeat(auto-fill, minmax(4em, max-content));
			grid-gap:2em;
			justify-content: space-around;
			align-items: center;
			margin:1em 0em;

			a
			{
				text-align:center;

				font-size: 2rem;
				font-weight: bold;
			}
		}
	}
}
