

/**/
.site-content
{
  padding: 2em 5%;
}
/**/

.content-area
{
  background-color:var(--content-bg);

  /** 
    `vw` units for `--fade-width` makes the content fade proportional to screen size. 
    Small screens hold more letters.
    Large screens more visual depth.
  */
  --fade-width: 2vw;
  @extend .content-fade;
}

.site-header
{
  --aura-color: red ;
}

.session
{
  --aura-color: #0000ff5c;
  --font-aura-blur:.1em;
}
