

/**/
.site-content
{
  padding:1em 5%;
}
/**/

.session
{
  --fade-width: 1em;
  @extend .content-fade;
  padding: 1em 4em;
}


.site-content h1
, .site-content h2
{
  margin:0 0;
}

.site-content .widget-area {display:none;}
