
/**
  This is the outer container for the headshot/caption.
*/
.intro{
	position:relative;
	display:block;
	max-width:50em;
	margin:0em auto;
}

/**
	This is the inner container for the headshot / caption
*/
.blurb {
	@extend .font-aura;
	padding:.5em;
	text-align:center;

	border-radius:1em;
	border-width:1em;
	border-color:transparent;

	background-image: radial-gradient(var(--content-bg-color) 90%,transparent);
}


.headshot {
	display:block;
	border-radius:1em;
	max-height:30em;
	max-width: 100%;
	margin:1em auto;
	max-height:50vh;
}

.caption {
	color:lightgrey;
	border-radius:1em;
	display:inline-block;
	max-width:30em;
	padding:1em;

	font-size: 1.25em;
}
