
a:visited, a:active
{
  color:inherit;
}

a, a:visited, a:hover, a:active
{
  outline-offset:inherit;
  color:inherit;
  text-decoration:none;
  -moz-outline-radius:1em;
  outline-offset:.25em;
}

@keyframes a_hover {
    from {
      text-shadow:none;
      outline: .0em ridge var(--aura-color);
      color:inherit;
    }
    to {
      text-shadow: 0 0 1rem var(--aura-color);
      outline: .5em ridge transparent;
      color: var(--aura-color);
    }
}

a:hover
{
  animation-name: a_hover;
  animation-duration: 2s;
  animation-timing-function:ease;
  animation-fill-mode: forwards;
}
