@import 'global-mixins';
@import 'global-search';
@import 'global-links';
@import 'global-pagenav';
@import 'global-vars';

html {
  background: var(--html-bg);
}

body {
  background: var(--body-bg);
  color: var(--font-color);
}

body
{
  animation-name: pulseate;
  animation-duration: 30s;
  animation-direction:normal;
  animation-delay:10s;
  animation-iteration-count: infinite;
}

.site
{
  /* Fix for repeating background on pages that are less than viewport height. */
  min-height: 100vh
}

.site-content
{
  filter:none;
}

h1 {
  letter-spacing: .5em;
}

@keyframes pulseate
{
  from
  {
    filter:hue-rotate(0deg);
  }
  to
  {
    filter:hue-rotate(360deg);
  }
}
