@import 'menu-toggle-button';

.site-header
{
    background: var(--site-header-background);
    
    padding-bottom: var(--site-header-fade-width);

    /* All header text is bold. */
    font-weight:bold;

    .site-title
    {
        text-align: center;
        font-size:3rem;
        font-weight: bold;
        margin:1em;

        .site-title-link {}
    }

    .site-navigation
    {
        font-size: 1.5rem;
        
        .menu-toggle {
            @extend .menu-toggle-button;
            font-size: .5em;
            padding:1em;

            height:6em;
            width:6em;

            background:lightgrey;

            display:none;
        }
    }

    .site-navigation
    {
        text-align:center;

        .menu.nav-menu
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu-item
        {
            a
            {
                padding: .25em 0em;
                margin: .5em 1em;
            }
        }
    }

    .site-search
    {
        form.search-form {
            input.search-field {}
        }
    }
}
