.site-header {
 @screen md {

  display: grid;

  grid-template:
   [row1-start] "title search" [row1-end]
   [row2-start] "menu menu" [row2-end]
   / 1fr 1fr
  ;

  .site-title {
    grid-area: title;
  }

  nav.main-navigation {
    grid-area: menu;

    display:flex;
    flex-direction:row;
    justify-content: space-around;

     button.menu-toggle {}

     div.menu-site-navigation-container {
       flex-basis:100%;

       ul.menu.nav-menu {
         display:flex;
         justify-content: space-around;
       }

       li.menu-item {}
     }

     &.toggled {
       .menu-site-navigation-container {
         ul.menu.nav-menu {}
         li.menu-item {}
       }
     }
  }

  form.search-form {
    grid-area: search;
    input.search-field {}
  }

 }
}
