
/**
  Toggle menu button: 3 bar hack.
*/
.menu-toggle-button {
  position: relative;
  color:transparent;
  min-height:6em;
  min-width:6em;
  width: 100%;
}

.menu-toggle-button::before {
  content: "";
  position: absolute;
  top: 16%;
  left: 16%;
  right: 16%;
  bottom:16%;

  border-top: 2.5em double #000;
  border-bottom: .75em solid #000;
}
