
.session {
    margin:1em;

    font-size:1.25em;
    letter-spacing: .15em;

    padding: 2em;

    .session-title 
    {
        @extend .font-aura;
        text-align:center;
        display:block;
        padding:1em;
    }

    .wp-meta-aside
    {
        display:none;
    }

    .soundcloud-aside
    {
        @extend .sandwich-border;
        background:var(--aura-color);
        width:calc(100% - 4em);
        margin:2rem;
        padding:.5em;
        border-radius:1em;
        filter:opacity(75%);
    }

    .session-text
    {
        p {
            padding:1em 0em;
            line-height:1.5em;
        }

        br {
            display: block;
            margin-bottom: 1em;
            font-size:1em;
            line-height: 1em;
        }
    }

    .page-navigation
    {
        /* needs to be redone to match new php template. */
    }
}
