
.session {
    margin:1em;

    font-size:1.25em;
    letter-spacing: .15em;

    padding: 2em;

    .entry-title 
    {
        @extend .font-aura;
        text-align:center;
        display:block;
        padding:1em;
    }

    .entry-content
    {
        p {
            padding:1em 0em;
            line-height:1.5em;
        }

        br {
            display: block;
            margin-bottom: 1em;
            font-size:1em;
            line-height: 1em;
        }
    }
}
